on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules snd-soc-cs35l41-spi pinctrl-wcd wcd-dsp-glink snd-soc-wcd-spi snd-soc-sdm845
#Load WLAN driver
    insmod /vendor/lib/modules/qca_cld3_wlan.ko
